body {
    font-family: 'Inter', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0PX;
}
header{
background-color: rgb(250, 250, 250);
padding: 15px;
}
#img1,#img2{
    margin-left:30px;
    float: left;
    width: 30px;
}
#inp{
    border-radius: 10px;
    width: 100%;
    padding:10px;
}
.col-sm-3{
    size: 100%;
    background-color:rgb(255, 255, 255) ;
}
.card-12{
    align-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
} 
.card-1{
  padding: 10px;
  border-radius:50px;
  cursor: pointer;
}
.card-1:hover{
    opacity: 1;
    background-color: rgb(247, 247, 247);
}
.card-2{
    padding: 15px;
    border-radius:5px;
    cursor: pointer;
  }
  .card-2:hover{
      opacity:0.5;
      background-color: rgb(247, 247, 247);
  }
  p{
    margin-left:50px ;
  }
  img{
    width:20px;
}
#img5{
    padding-top:5px;
    width: 18px;
    float: right;
    margin-left:20px ;
}

#img_5{
    padding-top:5px ;
    width:18px ;
    float: right;
    margin-left:10px ;
}
#column_1{
    margin-top:40px ;
}
#header_icon{
    margin-top:25px;
    float:left;
}
#btn_d{
  padding:1px;
}
.card-12{
  width:200px;
  height:50px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.5s;
    border: 1px solid rgb(211, 202, 202);
    border-radius: 10px;
}
.card-12:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropbtn {
  
  width:100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius:10px;
  position: absolute;
  background-color: #f3f3f3;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


  



