body {
    font-family:"Google Sans",Roboto,Arial,sans-serif;
    margin: 0px;
    padding: 0PX;
}
header{
background-color: rgb(250, 250, 250);
padding: 15px;  

}
#img1,#img2{
    margin-left:30px;
    float: left;
    width: 30px;
}
#inp{
    border-radius: 10px;
    width: 100%;
    padding:10px;
}
#inp01{
   
    width: 90%;
    padding:4px;
    border:1px solid rgb(190, 186, 186);
    border-radius:5px;
    float: right;
}
#inp001{
    width: 90%;
    padding-bottom:40px;
    border:1px solid black;
    border-radius:5px;
    float: right;
}
.col-sm-3{
    size: 100%;
    background-color:rgb(255, 255, 255) ;
}
.card-12{
    align-content: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
} 
.card-1{
  padding: 10px;
  border-radius:50px;
}
.card-1:hover{
    opacity: 1;
    background-color: rgb(247, 247, 247);
}
.card-2{
    padding: 20px;
    border-radius:5px;
  }
  .card-2:hover{
      opacity:0.5;
      background-color: rgb(247, 247, 247);
  }
  .card-3{
    padding:10px;
    border-radius:5px;
    margin-bottom: 10px;
  }
  .card-3:hover{
      opacity:0.5;
      background-color: rgb(255, 255, 255);
  }
#img001{
    width:20px;
}
#img003{
    width:25px;
}
#img01{
    float: right;
    width: 20px;
}
#img002{
    width:150px;
    height: 160px;
    border-radius: 50%;
}
label{
    border:2px solid rgb(211, 211, 211) ;
    border-radius: 10px;
    padding: 5px;
    margin-left: 40px;
}
label:hover{background-color: rgb(216, 216, 216);}
#btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 90%;
}
#column_1{
    margin-top:40px ;
}
.card-12{
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.5s;
    border: 1px solid rgb(211, 202, 202);
    border-radius: 10px;
}
.card-12:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.dropbtn {
  width:100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius:10px;
  position: absolute;
  background-color: #f3f3f3;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.wraper{
    display: none;
}
